.black-container {
    width: 100vw;
    height: 163px;
    background: black;
    color: #ffd100;
}

body {
    background: #fff;
    font-family: Ride, Arial, sans-serif;
    line-height: 1.2;
    letter-spacing: -0.3px;
    width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.text-center {
    text-align: center;
}

.logo-size {
    width: 80px;
    height: 80px;
}

.adjust-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

.padding-2 {
    padding-top: 2%;
}

.margin-right {
    margin-right: 75px;
}

.card-size {
    height: 190px;
    width: 290px;
}

.text-color {
    text-decoration-color: #ffd100;
}

.content {
    min-height: calc(100vh - 180px);
}

.footer {
    height: 163px;
}

a {
    color: #ffd100;
}

.p-t {
    padding-top: 130px;
}

.p-t2 {
    padding-top: 70px;
}